{
    "extends": [
        "react-app",
        "plugin:prettier/recommended"
    ],
    "plugins": [
        "prettier"
    ],
    "rules": {
        "prettier/prettier": 0,
        "react/jsx-first-prop-new-line": [
            2,
            "multiline"
        ],
        "react/jsx-max-props-per-line": [
            2,
            {
                "maximum": 1,
                "when": "multiline"
            }
        ]
    }
}